<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Index - MSA-WebApp</title>
    <link rel="stylesheet"  />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
